<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <listeners>
        <listener class-name="org.academy.tools.TestNgListener"/>
    </listeners>
    <test name="Smoke tests">
        <groups>
            <run>
                <include name="smoke_api"/>
            </run>
        </groups>
        <classes>
            <class name="org.academy.api.ProjectTest"/>
        </classes>
    </test>
</suite>
